apiVersion: integreatly.org/v1alpha1
kind: GrafanaDashboard
metadata:
  name: camel-quarkus
  labels:
    app: grafana
  namespace: '{{ grafana_project }}'
{% raw %}
spec:
  json: |
    {
      "annotations": {
        "list": [
          {
            "builtIn": 1,
            "datasource": "Prometheus",
            "enable": true,
            "hide": true,
            "iconColor": "rgba(0, 211, 255, 1)",
            "name": "Annotations & Alerts",
            "type": "dashboard"
          }
        ]
      },
      "description": "",
      "editable": true,
      "gnetId": null,
      "graphTooltip": 1,
      "id": 2,
      "iteration": 1671484514359,
      "links": [],
      "panels": [
        {
          "collapsed": false,
          "datasource": null,
          "gridPos": {
            "h": 1,
            "w": 24,
            "x": 0,
            "y": 0
          },
          "id": 36,
          "panels": [],
          "title": "Camel Metrics",
          "type": "row"
        },
        {
          "datasource": null,
          "description": "",
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "thresholds"
              },
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  }
                ]
              }
            },
            "overrides": []
          },
          "gridPos": {
            "h": 6,
            "w": 6,
            "x": 0,
            "y": 1
          },
          "id": 26,
          "options": {
            "colorMode": "value",
            "graphMode": "none",
            "justifyMode": "auto",
            "orientation": "auto",
            "reduceOptions": {
              "calcs": [
                "lastNotNull"
              ],
              "fields": "",
              "values": false
            },
            "text": {},
            "textMode": "auto"
          },
          "pluginVersion": "7.5.17",
          "targets": [
            {
              "exemplar": true,
              "expr": "application_camel_route_exchanges_completed_total{ job=\"$job\", pod=\"$pod\", routeId=\"$routeId\"}",
              "interval": "",
              "legendFormat": "",
              "refId": "A"
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "application_camel_route_exchanges_completed_total",
          "type": "stat"
        },
        {
          "datasource": null,
          "description": "",
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "thresholds"
              },
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "red",
                    "value": null
                  }
                ]
              }
            },
            "overrides": []
          },
          "gridPos": {
            "h": 6,
            "w": 6,
            "x": 6,
            "y": 1
          },
          "id": 18,
          "options": {
            "colorMode": "value",
            "graphMode": "none",
            "justifyMode": "auto",
            "orientation": "auto",
            "reduceOptions": {
              "calcs": [
                "lastNotNull"
              ],
              "fields": "",
              "values": false
            },
            "text": {},
            "textMode": "auto"
          },
          "pluginVersion": "7.5.17",
          "targets": [
            {
              "exemplar": true,
              "expr": "application_camel_route_exchanges_failed_total{job=\"$job\", pod=\"$pod\", routeId=\"$routeId\"}",
              "interval": "",
              "legendFormat": "",
              "refId": "A"
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "application_camel_route_exchanges_failed_total",
          "type": "stat"
        }
      ],
      "refresh": "5s",
      "schemaVersion": 27,
      "style": "dark",
      "tags": [],
      "templating": {
        "list": [
          {
            "allValue": null,
            "current": {
              "selected": false,
              "text": "demo-camel-k/api",
              "value": "demo-camel-k/api"
            },
            "datasource": null,
            "definition": "label_values(job)",
            "description": null,
            "error": null,
            "hide": 0,
            "includeAll": false,
            "label": "job",
            "multi": false,
            "name": "job",
            "options": [],
            "query": {
{% endraw %}
              "query": "label_values(application_camel_route_count{namespace=\"{{ demo_project }}\"}, job)",
{% raw %}
              "refId": "StandardVariableQuery"
            },
            "refresh": 2,
            "regex": "",
            "skipUrlSync": false,
            "sort": 1,
            "tagValuesQuery": "",
            "tags": [],
            "tagsQuery": "",
            "type": "query",
            "useTags": false
          },
          {
            "allValue": null,
            "current": {
              "selected": false,
              "text": "api-69cf785fbf-d74wd",
              "value": "api-69cf785fbf-d74wd"
            },
            "datasource": null,
            "definition": "label_values(application_camel_route_count{job=\"$job\"}, pod)",
            "description": null,
            "error": null,
            "hide": 0,
            "includeAll": false,
            "label": "pod",
            "multi": false,
            "name": "pod",
            "options": [],
            "query": {
              "query": "label_values(application_camel_route_count{job=\"$job\"}, pod)",
              "refId": "StandardVariableQuery"
            },
            "refresh": 2,
            "regex": "",
            "skipUrlSync": false,
            "sort": 0,
            "tagValuesQuery": "",
            "tags": [],
            "tagsQuery": "",
            "type": "query",
            "useTags": false
          },
          {
            "allValue": null,
            "current": {
              "selected": false,
              "text": "route2",
              "value": "route2"
            },
            "datasource": null,
            "definition": "label_values(application_camel_route_exchanges_failed_total{job=\"$job\"}, routeId)",
            "description": null,
            "error": null,
            "hide": 0,
            "includeAll": false,
            "label": "RouteId",
            "multi": false,
            "name": "routeId",
            "options": [],
            "query": {
              "query": "label_values(application_camel_route_exchanges_failed_total{job=\"$job\"}, routeId)",
              "refId": "StandardVariableQuery"
            },
            "refresh": 2,
            "regex": "",
            "skipUrlSync": false,
            "sort": 0,
            "tagValuesQuery": "",
            "tags": [],
            "tagsQuery": "",
            "type": "query",
            "useTags": false
          }
        ]
      },
      "time": {
        "from": "now-30m",
        "to": "now"
      },
      "timepicker": {
        "refresh_intervals": [],
        "time_options": []
      },
      "timezone": "browser",
      "title": "Camel - Quarkus",
      "uid": "55b736cb0681a1f18a0574780cb0e5176e897eaa",
      "version": 1
    }
  name: camel-quarkus.json
{% endraw %}

