- name: Evaluate namespace {{ apicurito_project }}
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    api_version: v1
    kind: Namespace
    name: '{{ apicurito_project }}'
    state: present

- name: Evaluate Apicurito Operator Group
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    kind: OperatorGroup
    api_version: operators.coreos.com/v1
    namespace: '{{ apicurito_project }}'
    definition:
      metadata:
        name: '{{ apicurito_project }}-group'
      spec:
        targetNamespaces:
          - '{{ apicurito_project }}'

- name: Evaluate Apicurito Subscription
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    resource_definition: "{{ lookup('template', 'apicurito-subscription.yaml.j2') }}"

- name: Wait for Apicurito operator to install
  kubernetes.core.k8s_info:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    name: apicuritoes.apicur.io
  register: crd_apicurito
  until: crd_apicurito.resources | list | length == 1
  retries: 10
  delay: 30

- name: Evaluate the Apicurito CR
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    resource_definition: "{{ lookup('template', 'apicurito-resource.yaml.j2') }}"

- name: Wait for Apicurito to be running
  ansible.builtin.uri:
    url: https://apicurito-ui-{{ apicurito_project }}.{{ route_subdomain }}
    status_code: '200'
  register: result
  until: result.status == 200
  retries: 90
  delay: 30
